.active-category::before {
  position: absolute;
  right: 100%;
  display: block;

  border: 0 solid transparent;
  border-color: transparent #134e4a transparent transparent;
  border-width: 1.2rem 0.75rem;

  content: " ";
}
