.content-wrapper {
  max-width: 90rem;
  margin: auto;
}

.basket-icon {
  position: absolute;
  top: 1rem;
  left: 0.9rem;
}

.basket-counter {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;

  color: white;
  font-size: 0.75rem;
}
