@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;

  color: #292524; /* Tailwind WarmGray-800 */
  font-family: Roboto, system-ui, Helvetica, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.content-wrapper {
  max-width: 90rem;
  margin: auto;
}
